/* Styles go here */
body
{
    font-family: 'open_sansregular', Helvetica, Arial, sans-serif;
    /*overflow: hidden;*/
}

.main-container{
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-left: 0;
  }

  .navbar-logo{
    float: left !important;
    padding-bottom: 10px;
  }

  #cc-by{
    padding-left: 15px;
  }
}

.navbar-header, .nav-pills{
    height: 42px;
}

.navbar-default{
    margin-bottom: 0px;
}

.nav-pills{
    padding-left: 15px;
}

.glyphicon-chevron-down{
    vertical-align: middle;
}

#map {
    width: 100%;
    height: 94%;
    position: absolute;
    background-color:#DDDDDD;
}

ul{
    list-style-type: none;
    padding: 0px;
}

table{
    /*width: 80% !important;*/
    clear: none !important;
}

.navbar-logo{
    float: right;
    padding-top: 10px;
    padding-right: 3px;
}

.modal-content > .close{
    position: relative;
    z-index: 1;
    padding-right: 12px;
    margin-top: -25px;
    top: 30px;
}

#lista thead th{
    border-bottom: 0;
    border-top: 0;
}

#lista tfoot th{
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
}

.dropdown-menu {
   z-index: 9999;
}

tfoot {
    display: table-header-group;
}

tfoot th{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(17, 17, 17);
}


.marker-icon{
    width: 25px;
}

.crop{
    width: 250px;
}

.legend-label{
    padding-top: 5px;
    padding-left: 35px;
}

.crop p{
    height: 30px;
    float: left;
}

td.map-control {
    background: url('../img/paraguay.png') no-repeat center center;
    cursor: pointer;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

.leaflet-bottom, .leaflet-top{
    z-index: 0;
}

.controls{
    width:70px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}

.next {
    float:right;
    text-align:right;
}

.column-filter{
    width: 100%;
}

#popup-table{
    margin-top: 50px;
}

.marker-popup{
    min-height: 560px !important;
}

.leaflet-popup-content{
    min-height: 560px;
}

.slides li img{
    cursor: pointer;
}

.glyphicon.glyphicon-refresh.icon-refresh {
    padding-top: 3px;
    padding-bottom: 3px;
}

.margin-table {
    padding-right: 20px;
    padding-left: 20px;
}

.legend {
   text-align: left;
   line-height: 18px;
   color: #555;
}

.legend i {
   width: 15px;
   height: 15px;
   float: left;
   margin-right: 8px;
   opacity: 0.8;
}

.leaflet-popup-close-button {
   display: none;
}

.leaflet-popup-content-wrapper {
   pointer-events: none;
}

.info {
   padding: 6px 8px;
   font: 14px/16px Arial, Helvetica, sans-serif;
   background: white;
   background: rgba(255,255,255,0.8);
   box-shadow: 10 10 15px rgba(0,0,0,0.2);
   border-radius: 5px;
   text-align: right;
}
.info-layer{
       line-height: 20px;
}
.info.info-layer.leaflet-control small{
    font-size:9.75px; 
    color:#777;
}
.info h4 {
   margin: 10 10 15px;
   color: #777;
}
.h4 {
    text-align: center;
    font-size: 18px;
}
.btn-group-vertical{
    margin: 0 0 15px 0;
    width: 100%;
}

.leaflet-control-command-interior
{
    /*background-image: url(images/command.png);*/
    width: 60px;
    height: 25px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    text-align: center;
}


.leaflet-control-label
{
    color: red;
}

.leaflet-control-command-interior:before {
  content: "País";
}

.alignRight {
    text-align: right;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/** Estilos para los inputs de filtro **/

.search_init.text_filter, .text_filter{
    display: block;
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search_init.text_filter:focus, .text_filter:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.search_init.text_filter::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.search_init.text_filter:-ms-input-placeholder {
    color: #777;
}

.search_init.text_filter::-webkit-input-placeholder {
    color: #777;
}

.custom-title {
    color: #f6a828;
}


.label-slider {
    font-size: 16px;
    float: left;
    width: 100px;
    margin-left: 310px;
    margin-bottom: 12px;
    margin-top: -3px;
}

.slider-bar {
    margin-left: 0px;
    margin-bottom: 12px;
    margin-top: 12px !important;
   /* color: #F6A828;*/
}

.slider-section {
    height: 33px;
    margin-left: 390px;
    margin-right: 17px;
    align-content: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}

.custom-container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}


/* Custom datatables slide */
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 0px;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: 0px;
    padding: 5px 5px 5px 5px;
}

table.dataTable {
    border-collapse: collapse;
}

/* Opacity slider styles */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #cccccc;
    background: #ededed;
}

.glyphicon.glyphicon-log-out {
    padding-top: 6px;
    padding-left: 7px;
}

/* Vertical tabs styles */
.vertical-text {
    font-size: 12px;
    cursor: pointer;
    transform: rotate(270deg) scale(1) skew(1deg) translate(-55px);
}

.sidebar-tabs > li {
    height: 110px !important;
}

.login
  transition: all 0.75s ease

[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }



.leaflet-control-command-base
{
    /*background-image: url(images/command.png);*/
    width: 60px;
    height: 25px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    text-align: center;
}


/*.leaflet-control-command-base:hover
{
    background-color: #F4F4F4;
}*/

.leaflet-control-command-base:before {
  content: "Sin fondo";
}


.radio-container input[type="radio"] {
    display:none;
}

.radio-container input[type=radio]:checked+label{
    background-color: #286090;
    border-color: #204d74;
}
